body {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #31304D;
}

#project{
    background-color: #31304D;
}

#project button a {
list-style-type: none;
}


section{
    padding-top: 5rem;
}
<<<<<<< HEAD

=======
>>>>>>> d0721f8861c271097dfea9a955e71982ff1ce1f0
